**/.ipynb_checkpoints
**/__pycache__
.DS_Store
notebooks
notebooks/*
*.egg-info
**/.pytest_cache
omigami/test
omigami/test/*
omigami/test/*/*
omigami/test/*/*/*
mlflow-server/*
local-deployment/*
mlruns/*